<a href="https://colab.research.google.com/github/Arghay013/machine-learning-start/blob/main/python/first_time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
# --- DEMO: Core types & literals ---
x = 42                 # int
y = 3.14               # float
z = "hello"            # str
t = True               # bool
lst = [[1, 2, 3, ["Arif", "Rahul", 3.5, 100*2], 4], [10 , 20, 30]]
ls2D =[ [1, 2, 3],[4, 5, 6] ]     # list (mutable)
tpl = (1, 2, 3, [1, 2, 3], "Arif")        # tuple (immutable)
dct = {"a": 1, "b": 2, "a": 3} # dict (mapping)
st = {1, 2, 2, 3, "Arif"}      # set (unique)
lst.append(10)

print(dct)
print(ls2D)
print(tpl)
print(st)
print(type(x), type(y), type(z), type(lst), type(tpl), type(dct), type(st))

{'a': 3, 'b': 2}
[[1, 2, 3], [4, 5, 6]]
(1, 2, 3, [1, 2, 3], 'Arif')
{1, 2, 3, 'Arif'}
<class 'int'> <class 'float'> <class 'str'> <class 'list'> <class 'tuple'> <class 'dict'> <class 'set'>

In [ ]:
s= [0, "Hello", [], None, [1]]
print([bool(x) for x in s])

[False, True, False, False, True]