<a href="https://colab.research.google.com/github/Arghay013/machine-learning-start/blob/main/python/mod_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def greet():
    print("hello")

In [3]:
greet()

hello

## function parameters ( Input )

In [5]:
def greet(user = "guest"):
    print(f"hello {user}")

In [8]:
greet("adil")

hello adil

In [9]:
def square_addition(a,b,c):
    print(f"{a} {b} {c}")
    a=a**2
    b= b**2
    return a+b+c
#positional argument
ans = square_addition(10,20,30) + 10
print(ans)

#keyword argument
ans = square_addition(b=10,c=20,a=30) + 10
print(ans)

10 20 30
540
30 10 20
1030

In [10]:
def square_addition(*args):
    summation =0
    for i in args:
        i = i**2
        summation+=i
    return summation

In [11]:
ans = square_addition(10,20,30,40,50)
print(ans)

5500

In [12]:
def student(**kwargs):
    for key,val in kwargs.items():
        print(f"{key} : {val}")

In [13]:
student(name = "adil" , cls =10 , roll=30 , marks = 30.5)

name : adil
cls : 10
roll : 30
marks : 30.5

# return

In [14]:
def give_prediction():
    return 10

type(give_prediction())

int

In [15]:
def give_prediction():
    return 10.5

type(give_prediction())

float

In [16]:
def give_prediction():
    return "name"

type(give_prediction())

str

In [17]:
def give_prediction(a,b):

    return a,b

type(give_prediction(10,30))

print(give_prediction(10,30))

## unpacking

x , y = give_prediction(10,30)

print(x,y)

(10, 30)
10 30

In [18]:
def give_prediction():

    a= [10,20,30]
    b= [20,30,40]
    return a,b

type(give_prediction())

## unpacking
x , y = give_prediction()

print(x)
print(y)

[10, 20, 30]
[20, 30, 40]

In [19]:
def give_prediction():

    a= {10,20,30}
    b = [100,200,300]
    return a,b

x = give_prediction()

print(type(x))

for item in x:
    print(item)

<class 'tuple'>
{10, 20, 30}
[100, 200, 300]

In [20]:
def give_prediction():
    return { "name" : "adil" , "addr" : "Ctg"},{ "name" : "abrar" , "addr" : "dhaka"}


x,y = give_prediction()

print(type(x))


for item in x.items():
    print(item)

<class 'dict'>
('name', 'adil')
('addr', 'Ctg')

# iterator

In [23]:
 s= {10 , 20 , 30 , 40 , 50 }
s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

for i in s:
    print(i)

50
20
40
10
30
50
20
40
10
30

# generator

In [24]:
lst = [ x for x in range(500) ] # dataset

def data_loader(chunk_size,lst):
    for i in range(0,len(lst),chunk_size):
        yield lst[i:i+chunk_size]


x = data_loader(5,lst)

print(next(x))
print(next(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]

# Lambda function

In [25]:
def square_addition(x,y):
    return x**2 + y**2


sq_add = lambda x,y : x**2 + y**2

print( sq_add(2,3))

13

In [26]:

string = "hello world, welcome to the age of AI"
string1 = list(map(str.upper , string))
print(string1)
string1 = " ".join(string1)
print(string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ',', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I']
H E L L O   W O R L D ,   W E L C O M E   T O   T H E   A G E   O F   A I

In [27]:
# map with lambda function
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

lst = list(map(lambda x : x**2,lst))

print(lst)

[1, 4, 9, 16, 25, 36]

# filter

In [28]:
numbers = [x for x in range(100)]


# even

even = list(filter( lambda x : x % 2 ==0,numbers))

#print(even)



fifty_upper = list(filter( lambda x : x >50,numbers))

print(fifty_upper)

[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [29]:
data = [0, 1, '',None, 'Hello', [], [1, 2], None, True, False, None]

cleaned_data = list(filter(None, data))

print(cleaned_data)

[1, 'Hello', [1, 2], True]

In [30]:
# string

vowel_ = list(filter( lambda x : x in "AEIOU" , string1))

print(vowel_)

['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

In [31]:
fruits = [ 'aaa' , 'bb' , 'cccc' , 'ddddd' ]

filtering = list(filter(lambda x: len(x)>2 , fruits))

print(filtering)

['aaa', 'cccc', 'ddddd']

# Reduce

In [32]:
from functools import reduce

In [33]:
lst = [ 1 ,2 ,3 ,4 ,5 ,6 ]

summation = reduce(lambda x,y : x+y , lst)

print(summation)

21

In [34]:
lst = [ 1 ,2 ,10,4 ,5 ,6 ]

max_value = reduce( lambda x , y :x if x > y else y ,lst)

print(max_value)

10

In [35]:
lst = [ "hello", "world" , "welcome" ,"to", "programming"]
print(lst)

['hello', 'world', 'welcome', 'to', 'programming']

In [36]:
string = reduce(lambda x,y : x+ " " + y ,lst)
print(string)

hello world welcome to programming